app_test/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="email">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="server"/>
              <xs:element type="xs:string" name="account"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:short" name="port" minOccurs="0"/>
              <xs:element type="xs:string" name="connection" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ftp" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="server"/>
              <xs:element type="xs:string" name="account"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:short" name="port"/>
              <xs:element type="xs:string" name="connection" minOccurs="0"/>
              <xs:element type="xs:string" name="mode" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="file">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="download"/>
              <xs:element type="xs:string" name="upload"/>
              <xs:element type="xs:string" name="extension"/>
              <xs:element type="xs:short" name="delimiter" />
              <xs:element type="xs:string" name="log" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mapping" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="filter" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="from" minOccurs="0"/>
                    <xs:element type="xs:string" name="subject" minOccurs="0"/>
                    <xs:element type="xs:string" name="filename" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="folder"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>